<section role="main" class="section">
  <div class="container">
    <%= if get_flash(@conn, :info) do %>
      <div class="notification is-link" role="alert"><%= get_flash(@conn, :info) %></div>
    <% end %>

    <%= if live_flash(@flash, :error) do %>
      <div class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></div>
    <% end %>


    <%= @inner_content %>
  </div>
</section>
